body {
    margin: 0;
    background-color: #ac988e;

}

nav {
    background-color: #796656;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 68px;
}

h1 {
    grid-column-start: 2;
    display: flex;
    justify-content: center;
    color: #523824;
    cursor: pointer;
}

.klasI {
    grid-column-start: 3;
    display: flex;
    justify-content: end;
    margin-right: 70px;
    color: #523824;
}

.logo {
    width: 100px;
    margin-top: -15px;
}


.mugshots {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.mugshot {
    width: 250px;
    height: auto;
}

.mugshot:hover {
    transform: scale(1.2);
}

@media (max-width: 480px) {
    .mugshots {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) and (min-width: 481px) {
    .mugshots {
        grid-template-columns: repeat(3, 1fr);
    }
}